body{
    font-family: 'Finlandica', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Stylish', sans-serif;
    margin: 0;
}

.name-color{
    color: orangered;
}

.background-top{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

h1 {
    font-size: 70px;
}

h3{
    font-size: 25px;
}

.flexible-container {
    display: flex;
    margin-bottom: 80px;
}

.first-part{
    padding-top: 50px;
    padding-left: 10%;
    width: 50%;
}

.first-part img{
    width: 70%;
}

.hire{
    font-weight: 400;
    border-radius: 5px;
    background-color: tomato;
    padding: 10px 35px;
    color: white;
    font-size: 30px;
    text-decoration: none;
    background: linear-gradient(orange,green);
}

p{  
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

.hire2{
    font-weight: 400;
    border-radius: 5px;
    background-color: tomato;
    padding: 10px 35px;
    color: white;
    font-size: 30px;
    text-decoration: none;
    background: linear-gradient(orange,green);
}


.dreambig-p {
    padding-right: 20%;
}

.background-mid{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin: 0;
}

.background-btm{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.developer1{
    width: 40%;
    margin: 40px 5%;
    padding: 0 10px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    transition: 0.2s ease;
}
.developer1:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 40px blue;
}

#line1border{
    border-left: 10px solid blue;
    transition: 0.2s ease;
}


#line2border{
    border-left: 10px solid red; 
}

.developer2{
    width: 40%;
    margin: 40px 5%;
    padding: 0 10px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    transition: 0.2s ease;
}
.developer2:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 40px red;
}

footer{
    text-align: center;
    color: darkgray;
}


.second-line1{
    color: blue
}

.second-line2{
    color: red;
}

.line1{
    
}

.line2{

}